*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  vertical-align: baseline; }

html {
  font-size: calc(calc(100*10/16) * 1%); }

@font-face {
  font-family: 'Climate Crisis';
  src: url("font/Climate_Crisis/ClimateCrisis-Regular-VariableFont_YEAR.ttf"); }

@font-face {
  font-family: 'Norse Bold';
  src: url("font/font.otf"); }

.logo__text {
  font-family: 'Norse Bold', Arial, Helvetica, sans-serif;
  font-size: 5.6rem;
  color: white;
  height: 4.4rem; }

h3 {
  font-family: Climate Crisis, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  letter-spacing: .1rem; }

legend, input, p, button, label, figcaption, a:link, a:visited, a:hover, a:focus, a:active {
  font-family: Roboto, sans-serif; }

legend {
  font-size: 2.8rem;
  font-weight: bold; }

input, button {
  font-size: 1.4rem; }

p {
  font-size: 1.6rem; }

label span:first-of-type {
  text-transform: uppercase;
  letter-spacing: .3px;
  color: rgba(0, 0, 0, 0.5); }

figcaption {
  font-size: 1.2rem; }

.u-center-flex {
  justify-content: center;
  align-items: center; }

.u-br-xxs {
  border-radius: .4rem; }

.u-br-xs {
  border-radius: .8rem; }

.u-br-sm {
  border-radius: 1.6rem; }

.u-spacer-xs {
  margin-top: .4rem; }

.u-spacer-sm {
  margin-top: .8rem; }

button {
  padding: 1rem 2.8rem; }

.button-pri {
  background: olivedrab;
  color: white;
  border: none; }

.link-on-light {
  color: olivedrab;
  text-decoration: none; }

.link-on-dark {
  color: white; }

label, .error-message {
  display: block; }

label {
  width: 100%;
  max-width: 20rem; }
  label .error-message {
    width: 100%;
    margin-top: .8rem;
    color: red; }

input {
  background: whitesmoke;
  border: 0;
  width: 100%;
  padding: 1rem;
  margin-top: .8rem;
  box-sizing: border-box; }

input:focus {
  outline: 1px solid lightblue; }

.input--error {
  outline: 1px solid red; }

:root {
  --cover-size: 40%; }

#signup, .cover-layout, .logo, .signup-layout, .row {
  display: flex; }

#signup {
  width: 100vw;
  height: 100vh;
  background-color: beige; }
  #signup .cover-layout {
    width: var(--cover-size);
    position: relative;
    background: url(assets/cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover; }
    #signup .cover-layout__credit {
      position: absolute;
      color: white;
      bottom: 2%;
      text-align: center;
      width: 100%;
      opacity: .5; }
    #signup .cover-layout .logo {
      background: rgba(0, 0, 0, 0.5);
      height: 8rem;
      width: 100%;
      position: absolute;
      padding: 1.6rem 0;
      top: 30%; }
      #signup .cover-layout .logo__image {
        max-width: 100%;
        max-height: 100%;
        margin-right: .8rem; }
  #signup .signup-layout {
    flex-direction: column;
    width: calc(100% - var(--cover-size));
    padding: 10.4rem;
    row-gap: 3.2rem;
    justify-content: center; }
    #signup .signup-layout__fields {
      background: white;
      box-shadow: 0 0.8rem 5rem rgba(0, 0, 0, 0.2);
      padding: 3.2rem 2.4rem; }
      #signup .signup-layout__fields legend {
        color: grey; }
      #signup .signup-layout__fields > *:not(:first-child) {
        margin-top: 2.4rem; }
      #signup .signup-layout__fields .row {
        column-gap: 4rem; }
