button {
    padding: 1rem 2.8rem;
}

.button-pri {
    background: $color-pri;
    color: white;
    border: none;
}

.link-on-light {
    color: $color-pri;
    text-decoration: none;   
}

.link-on-dark {
    color: white;
}