@font-face {
    font-family: 'Climate Crisis';
    src: url('font/Climate_Crisis/ClimateCrisis-Regular-VariableFont_YEAR.ttf');
}

@font-face {
    font-family: 'Norse Bold';
    src: url('font/font.otf');
}

.logo__text {
    font-family: 'Norse Bold', Arial, Helvetica, sans-serif;
    font-size: 5.6rem;
    color: white;
    height: 4.4rem; // To adjust center alignment
}

h3 {
    font-family: Climate Crisis, Arial, Helvetica, sans-serif;
    font-size: 4rem;
    letter-spacing: .1rem;
}

legend, input, p, button, label, figcaption, a, a:visited, a:active {
    font-family: Roboto, sans-serif;
}

legend {
    font-size: 2.4rem;
    font-weight: bold;
}

input, p, button, label {
    font-size: 1.6rem;
}

figcaption, a, a:visited, a:active {
    font-size: 1.2rem;
}

a, a:visited, a:active {
    color: white;
}